.bg-login {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../src/assets/images/bg-login.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-login .card {
    background: transparent;
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, .25);
}

.bg-login .card-body {
    padding: 50px 20px;
}

.custom-form .form-control::placeholder {
    color: #616161;
}

.custom-form .form-label {
    margin-bottom: .25rem;
}

.custom-form .form-control {
    border: 1px solid rgba(255, 255, 255, .25);
    color: #fff;
}